{% extends 'marketApp/base.html' %}
{% load static %}


{% block content %}
    <h1 class="justify-center flex mb-7 text-5xl font-semibold">
        Temukan gayamu
    </h1>

    <a href="/home">
        <div style="
        background-image: url('{% static 'marketApp/images/bg-image.jpg' %}');
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100vh;" class="flex items-center justify-center text-4xl font-bold">

            <div class="text-stone-50 drop-shadow-2xl">Cepat dan bergaya tidak perlu mahal</div>
            
        
        </div>

    </a>

    <h1 class="justify-center flex mt-7 mb-7 text-5xl font-semibold">
        Untuk semua orang
    </h1>

    <div class="flex content-center bg-gray-200 rounded-xl">
        <a href="/home" class="w-1/3">
            <div class="p-2 bg-white rounded-xl m-5 ">
                <img class="h-full w-full object-cover rounded-xl" src="{% static 'marketApp/images/baby.jpg' %}" alt="">

                <div class="p2">
                    <h2 class="font-bold text-lg">Bayi</h2>

                    <p class="text-sm">sepatu kami cocok untuk kenyamanan dan pertumbuhan anak anda</p>

                </div>
            </div>
        </a>

        <a href="/home" class="w-1/3">
            <div class="p-2 bg-white rounded-xl m-5">
                <img class="h-full w-full object-cover rounded-xl" src="{% static 'marketApp/images/blue-male.jpg' %}" alt="">

                <div class="p2">
                    <h2 class="font-bold text-lg">Laki-laki</h2>

                    <p class="text-sm">sepatu kami cocok untuk laki-laki yang berselera cepat dan nyaman</p>

                </div>
            </div>
        </a>

        <a href="/home" class="w-1/3">
            <div class="p-2 bg-white rounded-xl m-5">
                <img class="h-full w-full object-cover rounded-xl" src="{% static 'marketApp/images/pink-female.jpg' %}" alt="">

                <div class="p2">
                    <h2 class="font-bold text-lg mt-2">Perempuan</h2>

                    <p class="text-sm">sepatu kami bisa buat kamu yang ingin tampil lebih depan dengan nyaman dan authentic</p>

                </div>
            </div>
        </a>
        
    </div>
   

{% endblock %}